@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&family=Poppins:wght@500&family=Roboto:wght@500&display=swap');
/*mobile first 0px a 500px*/
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(251, 127, 255);
    text-align: center;
    font-family: 'Poppins',sans-serif;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
header{
    background-color: rgb(100, 114, 237);
    font-size: medium;
    justify-content: center;
}

ul{
    list-style-type:none;
    display: flex;
    flex-direction: column;
}

li{
    display: inline-block;
}

a {
    text-decoration:none;
    color:black;
}

footer{
    background-color: rgb(100, 114, 237);
    margin-bottom: 0;
}
/*--------------------------------------*/
/*Declaración de áreas para la grilla*/
header{
    grid-area: cabecera;
}
h1{
    grid-area: deseo;
}
.explicacion{
    grid-area: explicacion;
}
footer{
    grid-area: pie;
}
/*------------------------------------------*/
/*Acomodo para 0 a 500px*/
.grilla{
    display: grid;
    grid-template-areas:
    "cabecera"
    "deseo"
    "explicacion"
    "pie";
}

.explicacion{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
}
.parrafo{
    gap: 5px;
    border: 3px solid blue;
    margin-top: 4px;
    justify-content: center;
    height: auto;
}
h1{
    border: 3px solid blue;
    background-color: royalblue;
}
footer{
    background-color: rgb(100, 114, 237);
    margin-bottom: 0;
   /* padding: 5px;*/
}
.icon{
    width:  30px;
    height: 30px;
    border: none;
    margin-top: 5px;
}
.redes{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.pie {
    background: none;
}
/*--------------------------------------------------*/
@media (min-width:500px){
    .grilla{
        display: grid;
        grid-template-areas:
        "cabecera    cabecera"
        "deseo       deseo"
        "explicacion explicacion"
        "pie         pie";
        /*gap: 20px;*/
    }
    
    .explicacion{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        justify-items: center;
    }
    .parrafo{
        gap: 5px;
        border: 3px solid blue;
        margin-top: 4px;
        margin-right: 4px;
        height: auto;
    }
    h1{
        border: 3px solid blue;
        background-color: royalblue;
    }
    .icon{
        width:  50px;
        height: 50px;
        border: none;
        margin-top: 5px;
    }
}

/*--------------------------------------------------*/
@media (min-width:768px){
    
    .grilla{
        display: grid;
        grid-template-areas:
        "cabecera    cabecera    cabecera"
        "deseo       deseo       deseo"
        "explicacion explicacion explicacion"
        "pie         pie         pie";
        /*gap: 20px;*/
    }
    
    .explicacion{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        justify-items: center;
    }

    .parrafo{
        gap: 5px;
        border: 3px solid blue;
        margin-top: 4px;
        margin-right: 4px;
        height: auto;
    }

    h1{
        border: 3px solid blue;
        background-color: royalblue;
    }

    .icon{
        width:  50px;
        height: 50px;
        border: none;
        margin-top: 5px;
    }
    ul{
        list-style-type:none;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

    }
    
    li{
        display: inline-block;
    }
    
    a {
        text-decoration:none;
        color:black;
        padding: 5px;
    }
    
    
    /*nav ul{
        flex-direction: column;
        border:2px solid goldenrod
    }*/
    
    a.navPpal {
        color:red;
        background-color:rgb(0, 255, 242);
        font-style: oblique;
        font-weight: bold;
    }     
}