*{
    margin: 0;
    padding: 0;
}
.border {
    border: 1px solid black;
}
.grilla{
    width: 100%;
    height: 100vh;
}
/*declarar nombres de las etiquetas para la grilla por área*/
.cabecera{
    grid-area: cabecera;
    background-color: blue;
}
.deseo{
    grid-area: deseo;
    background-color: rgb(255, 0, 170);
}
.leyenda1{
    grid-area: leyenda1;
    background-color: rgb(43, 255, 0);
}
.leyenda2{
    grid-area: leyenda2;
    background-color: rgb(43, 255, 0);

}
.leyenda3{
    grid-area: leyenda3;
    background-color: rgb(43, 255, 0); 
}
.leyenda4{
    grid-area: leyenda4;
    background-color: rgb(43, 255, 0);
}

.leyenda5{
    grid-area: leyenda5;
    background-color: rgb(43, 255, 0);
}
.leyenda6{
    grid-area: leyenda6;
    background-color: rgb(43, 255, 0);
}
.footer{
    grid-area: footer;
    background-color: rgb(100, 114, 237);
    margin-bottom: 0;
}
.grilla{
    display: grid;
    grid-template-areas: 
    "cabecera cabecera cabecera"
    "deseo    deseo    deseo"
    "leyenda1 leyenda2 leyenda3"
    "leyenda4 leyenda5 leyenda6"
    "footer   footer   footer";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1.5fr 0.5fr 1.45fr 1.45fr 0.5fr;
    gap:10px;
    grid-row-gap: 5px;
}

ul{
    list-style-type:none;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 25px;
}

li{
    display: inline-block;
}

nav ul{
    margin-left: 300px; 
}

a {
    text-decoration:none;
    color:black;
    padding: 10px;
    padding-left: 15px;
    background-color:blue;
}

a.navPpal {
    color:red;
    background-color:rgb(0, 255, 242);
    font-style: oblique;
    font-weight: bold;
}

/*.sflex{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}*/
.icon{
    width:  30px;
    height: 30px;
    border-style: double;
    margin-top: 5px;  
}

.redes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-decoration:none;  
}

.pie {
    background: none;
}
