.box:hover{
    transform: scale(1.5);
    transition: all 2s ease;
    transform: scale(-1.5) rotate(180deg) ;
}
.box1:hover{
    transform: scale(1.5) rotate(360deg) ;
    transition: all 2s ease;
}
.box1:hover{
    transform: scale(1.5) rotate(-360deg) ;
    transition: all 2s ease;
}
.box2:hover{
    animation: cambio-color 4s;
}
@keyframes cambio-color {
    25%{
        background: rgb(63,94,251);
        background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    }
    75%{
        background-color: blueviolet;
    }
}
.box3:hover{
    transform: scale(1.5) rotate(360deg) ;
    transition: all 2s ease;
}
.box3:hover{
    transform: scale(1.5) rotate(360deg) ;
    transition: all 2s ease;
}
.box4:hover{
    animation: temblor 0.9s 2;
}
@keyframes temblor{
    0%{transform: translate(0px,0px);}
    10%{transform: translate(20px,0px);}
    30%{transform: translate(0px,0px);}
    40%{transform: translate(20px,0px);}
    50%{transform: translate(0px,0px);}
    60%{transform: translate(20px,0px);}
    70%{transform: translate(0px,0px);}
    80%{transform: translate(20px,0px);}
    90%{transform: translate(0px,0px);}
    100%{transform: translate(20px,0px);}
}
.boxt:hover{
    transform: scale(1.1);
    transition: all 2s ease;
    filter: blur(2.0px);
}
figure{
    display: inline-block;
    position: relative;
    overflow: hidden;
}
figcaption{
    color: white;
    transition: all 10s ease;
    position: absolute;
    left: 0;
    bottom: -150;
    width: 90%;
    padding: 5%;
    vertical-align: middle;
}
figure:hover figcaption{
    bottom: 0px;
}