@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&family=Poppins:wght@500&family=Roboto:wght@500&display=swap');
html{
    font-size: 90%;
    font-family: 'Roboto' ,sans-serif;
}
body{
    text-align: center;
    font-family: 'Poppins',sans-serif;
    font-weight: bolder;
}
header{
    font-size: medium;
    justify-content: center;
}
footer{
    margin-bottom: 0;
}
section{
    p{
        gap: 5px;
        border: 3px solid blue;
        margin-top: 4px;
        margin-right: 4px;
        height: auto;
        font-family: 'Poppins', sans-serif;
        justify-content: center;  
        font-weight: normal;  
    }
}
section.explicacionnosotros{
    p{
        gap: 0px;
        border: 3px double rgb(34, 2, 41);
        margin: 10PX;
        padding: 15px;
        height: auto;
        font-family: 'Poppins', sans-serif;
        justify-content: center;
        font-size: larger; 
        font-weight: normal; 
    }
}