/*Defino la grilla de tienda.html*/
.explicaciontienda{
    grid-area: explicaciontienda;
}
.grillatienda{
    display: grid;
    grid-template-rows: 1fr;
    @include responsive(movile){
        grid-template-areas:
        "cabecera"
        "deseo"
        "explicaciontienda"
        "pie";
    }
    @include responsive(tabletv){
        grid-template-areas:
        "cabecera           cabecera"
        "deseo              deseo"
        "explicaciontienda  explicaciontienda"
        "pie                pie";
    }
    @include responsive(tableth){
        grid-template-areas:
        "cabecera           cabecera            cabecera"
        "deseo              deseo               deseo"
        "explicaciontienda  explicaciontienda   explicaciontienda"
        "pie                pie                 pie";
    }
    @include responsive(desk){
        grid-template-areas:
        "cabecera           cabecera            cabecera"
        "deseo              deseo               deseo"
        "explicaciontienda  explicaciontienda   explicaciontienda"
        "pie                pie                 pie";
    }
    @include responsive(deskxl){
        grid-template-areas:
        "cabecera           cabecera            cabecera"
        "deseo              deseo               deseo"
        "explicaciontienda  explicaciontienda   explicaciontienda"
        "pie                pie                 pie";
    }
}

.explicaciontienda{
    display: grid;
    grid-template-rows: 1fr;
    justify-items: center;
    @include responsive(movile){
        grid-template-columns: 1fr;
    } 
    @include responsive(tabletv){
        grid-template-columns: 1fr 1fr;
    }   
    @include responsive(tableth){
        grid-template-columns: 1fr 1fr 1fr;
    } 
    @include responsive(desk){
        grid-template-columns: 1fr 1fr 1fr;
    } 
    @include responsive(deskxl){
        grid-template-columns: 1fr 1fr 1fr;
    } 
    img.boxt{
        margin-top: 5px;
    }   
}