/*Defino la grilla de nosotros.html*/
.explicacionNosotros{
    grid-area: explicacionNosotros;
}
.grillaNosotros{
    display: grid;
    grid-template-rows: 1fr;
    @include responsive(movile){
        grid-template-areas:
        "cabecera"
        "deseo"
        "explicacionNosotros"
        "pie";
    }
    @include responsive(tabletv){
        grid-template-areas:
        "cabecera               cabecera"
        "deseo                  deseo"
        "explicacionNosotros    explicacionNosotros"
        "pie                    pie";
    }
    @include responsive(tableth){
        grid-template-areas:
        "cabecera               cabecera            cabecera"
        "deseo                  deseo               deseo"
        "explicacionNosotros    explicacionNosotros explicacionNosotros"
        "pie                    pie                 pie";
    }    
    @include responsive(desk){
        grid-template-areas:
        "cabecera               cabecera            cabecera"
        "deseo                  deseo               deseo"
        "explicacionNosotros    explicacionNosotros explicacionNosotros"
        "pie                    pie                 pie";
    }
    @include responsive(deskxl){
        grid-template-areas:
        "cabecera               cabecera            cabecera"
        "deseo                  deseo               deseo"
        "explicacionNosotros    explicacionNosotros explicacionNosotros"
        "pie                    pie                 pie";
    }
}
.explicacionNosotros{
    display: grid;
    grid-template-rows: 1fr;
    justify-items: center;
    @include responsive(movile){
        grid-template-columns: 1fr;
    } 
    @include responsive(tabletv){
        grid-template-columns: 1fr 1fr;
    }   
    @include responsive(tableth){
        grid-template-columns: 1fr 1fr 1fr;
    } 
    @include responsive(desk){
        grid-template-columns: 1fr 1fr 1fr;
    } 
    @include responsive(deskxl){
        grid-template-columns: 1fr 1fr 1fr;
    } 

}
