/*Defino la grilla de noticias.html*/
.h1noticias{
    grid-area: deseo;
}
.explicacionnoticias{
    grid-area: explicacionnoticias;
}
.grillanoticias{
    display: grid;
    @include responsive(movile){
        grid-template-areas:
        "cabecera"
        "deseo"
        "explicacionnoticias"
        "pie";
    }
    @include responsive(tabletv){
        grid-template-areas:
        "cabecera"
        "deseo"
        "explicacionnoticias"
        "pie";
    }
    @include responsive(tableth){
        grid-template-areas:
        "cabecera               cabecera"
        "deseo                  deseo"
        "explicacionnoticias    explicacionnoticias"
        "pie                    pie";
    }
    @include responsive(desk){
        grid-template-areas:
        "cabecera               cabecera"
        "deseo                  deseo"
        "explicacionnoticias    explicacionnoticias"
        "pie                    pie";
    }    @include responsive(deskxl){
        grid-template-areas:
        "cabecera               cabecera"
        "deseo                  deseo"
        "explicacionnoticias    explicacionnoticias"
        "pie                    pie";
    }
}
.explicacionnoticias{
    display: grid;
    grid-template-rows: 1fr;
    margin-top: 5px;
    margin-bottom: 5px;
    @include responsive(movile){
        grid-template-columns: 1fr;
    } 
    @include responsive(tabletv){
        grid-template-columns: 1fr;
    }   
    @include responsive(tableth){
        grid-template-columns: 1fr 1fr;
    } 
    @include responsive(desk){
        grid-template-columns: 1fr 1fr;
    } 
    @include responsive(deskxl){
        grid-template-columns: 1fr 1fr;
    } 
}