.explicacionfaqs{
    grid-area: explicacionfaqs;
}

/*Defino la grilla de faqs.html*/
.grillafaqs{
    display: grid;
    grid-template-rows: 1fr;
    @include responsive(movile){
        grid-template-areas:
        "cabecera"
        "deseo"
        "explicacionfaqs"
        "pie";
    }
    @include responsive(tablet){
        grid-template-areas:
        "cabecera               cabecera"
        "deseo                  deseo"
        "explicacionfaqs        explicacionfaqs"
        "pie                    pie";
    }
    @include responsive(desk){
        grid-template-areas:
        "cabecera               cabecera"
        "deseo                  deseo"
        "explicacionfaqs        explicacionfaqs"
        "pie                    pie";
        /*"cabecera           cabecera        cabecera"
        "deseo              deseo           deseo"
        "explicacionfaqs    explicacionfaqs explicacionfaqs"
        "pie                pie             pie";*/
        }
        @include responsive(particular){
            grid-template-areas:
            "cabecera"
            "deseo"
            "explicacionfaqs"
            "pie";
        }
}

.explicacionfaqs{
    display: grid;
    grid-template-rows: 1fr;
    /*justify-items: center;*/
    justify-items: baseline;
    /*gap: 50px;*/
    column-gap: 10px;
    row-gap: 10px;
    margin-top: 50px;
    margin-left: 50px;
    @include responsive(movile){
        grid-template-columns: 1fr;
    } 
    @include responsive(tablet){
        grid-template-columns: 1fr 1fr;
    }   
    @include responsive(desk){
        grid-template-columns: 1fr 1fr;
    } 
    @include responsive(particular){
        grid-template-columns: 1fr;
    } 
}