/*Defino la grilla de noticias.html*/
header{
    grid-area: cabecera;
}
h1{
    grid-area: deseo;
}
.explicacionnoticias{
    grid-area: explicacionnoticias;
}
footer{
    grid-area: pie;
}
.grillanoticias{
    display: grid;
    @include responsive(movile){
        grid-template-areas:
        "cabecera"
        "deseo"
        "explicacionnoticias"
        "pie";
    }
    @include responsive(tablet){
        grid-template-areas:
        "cabecera               cabecera"
        "deseo                  deseo"
        "explicacionnoticias    explicacionnoticias"
        "pie                    pie";
    }
    @include responsive(desk){
        grid-template-areas:
        "cabecera               cabecera"
        "deseo                  deseo"
        "explicacionnoticias    explicacionnoticias"
        "pie                    pie";
    }
}
.explicacionnoticioas{
    display: grid;
    justify-items: center;
    grid-template-rows: 1fr;
    margin-top: 5px;
    margin-bottom: 5px;
    @include responsive(movile){
        grid-template-columns: 1fr;
    } 
    @include responsive(tablet){
        grid-template-columns: 1fr 1fr;
    }   
    @include responsive(desk){
        grid-template-columns: 1fr 1fr;
    } 
    /*img{
        margin-top: 10px;
    }*/
}