/*Defino la grilla de contacto.html*/
.explicacioncontacto{
    grid-area: explicacioncontacto;
}

.grillacontacto{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-areas:
        "cabecera"
        "deseo"
        "explicacioncontacto"
        "pie";
}
.explicacioncontacto{
    width: 100%;
    display: grid;
    grid-template-rows: 1fr;
    justify-items: center;
    grid-template-columns: 1fr;
}
/*Formulario de Contacto*/
.iniform{
    margin-top: 50px;
}
.finform{
    margin-bottom: 50px;
}