/*Declaración de áreas para la grilla de index.html*/
header{
    grid-area: cabecera;
}
h1{
    grid-area: deseo;
}
.explicacion{
    grid-area: explicacion;
}
footer{
    grid-area: pie;
}

/*Defino la grilla de index.html*/
.grilla{
    display: grid;
    @include responsive(movile){
        grid-template-areas:
        "cabecera"
        "deseo"
        "explicacion"
        "pie";
    }
    @include responsive(tabletv){
        grid-template-areas:
        "cabecera    cabecera"
        "deseo       deseo"
        "explicacion explicacion"
        "pie         pie";
    }
    @include responsive(tableth){
        grid-template-areas:
        "cabecera       cabecera    cabecera"
        "deseo          deseo       deseo"
        "explicacion    explicacion explicacion"
        "pie            pie         pie";
    }
    @include responsive(desk){
        grid-template-areas:
        "cabecera       cabecera    cabecera"
        "deseo          deseo       deseo"
        "explicacion    explicacion explicacion"
        "pie            pie         pie";
    }
    @include responsive(deskxl){
        grid-template-areas:
        "cabecera       cabecera    cabecera"
        "deseo          deseo       deseo"
        "explicacion    explicacion explicacion"
        "pie            pie         pie";
    }

}
.explicacion{
    display: grid;
    justify-items: center;
    grid-template-rows: 1fr;
    margin-top: 5px;
    margin-bottom: 5px;
    @include responsive(movile){
        grid-template-columns: 1fr;
    } 
    @include responsive(tabletv){
        grid-template-columns: 1fr 1fr;
    }   
    @include responsive(tableth){
        grid-template-columns: 1fr 1fr 1fr;
    } 
    @include responsive(desk){
        grid-template-columns: 1fr 1fr 1fr;
    } 
    @include responsive(deskxl){
        grid-template-columns: 1fr 1fr 1fr;
    } 
    img{
        margin-top: 10px;
    }
}
