/*Características generales del footer*/
footer{
    margin-top: 10px;
    border: rgb(42, 63, 110); 
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: none;
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(129,37,209,1) 24%, rgba(60,225,168,1) 51%, rgba(211,52,183,1) 76%, rgba(58,45,253,1) 100%);
    margin-bottom: 0;
    div{
        a{
            img{
                border: 5px solid blue;
                margin-top: 5px;
                border: none;
                @include responsive(movile) {
                    width:  30px;
                    height: 30px;
                }
                @include responsive(tabletv) {
                    width:  40px;
                    height: 40px;
                }
                @include responsive(tableth) {
                    width:  40px;
                    height: 40px;
                }
                @include responsive(desk) {
                    width:  40px;
                    height: 40px;
                }@include responsive(deskxl) {
                    width:  40px;
                    height: 40px;
                }
            }
        }
    }
}