@charset "UTF-8";
/*SCSS*/ /*Defino las fuentes que utilizo en los html´s*/
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@500&family=Poppins:wght@500&family=Roboto:wght@500&display=swap");
html {
  font-size: 90%;
  font-family: "Roboto", sans-serif;
}

body {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
}

header {
  font-size: medium;
  justify-content: center;
}

footer {
  margin-bottom: 0;
}

section p {
  gap: 5px;
  border: 3px solid blue;
  margin-top: 4px;
  margin-right: 4px;
  height: auto;
  font-family: "Poppins", sans-serif;
  justify-content: center;
  font-weight: normal;
}

section.explicacionNosotros p {
  gap: 0px;
  border: 3px double rgb(34, 2, 41);
  margin: 10PX;
  padding: 15px;
  height: auto;
  font-family: "Poppins", sans-serif;
  justify-content: center;
  font-size: larger;
  font-weight: normal;
}

/*Defino las características generales*/
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(212, 90, 206);
}

article h1 {
  border: 3px solid blue;
  background: rgb(86, 236, 234);
  background: linear-gradient(90deg, rgba(86, 236, 234, 0.9836309524) 1%, rgb(202, 230, 227) 14%, rgb(235, 246, 55) 25%, rgb(66, 172, 167) 40%, rgb(1, 236, 229) 57%, rgb(0, 42, 246) 75%, rgb(33, 148, 143) 86%, rgb(82, 255, 0) 100%);
  font-family: "Poppins", sans-serif;
  font-weight: normal;
}

/*Ajustes por destorsión BootStrap*/
.h1Noticias h1 {
  font-size: 1.5em;
  -webkit-margin-before: 0.83em;
          margin-block-start: 0.83em;
  -webkit-margin-after: 0.83em;
          margin-block-end: 0.83em;
  display: block;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  margin-top: 0px;
  margin-bottom: 5px;
}

.videito {
  display: block;
  width: 50%;
  height: 50%;
  margin-left: 35%;
  margin-right: 35%;
  border: double blue 5px;
}

/*Defino las mediasquery que voy a utilizar luego*/ /*Defino las características generales de la cabecera de los html´s*/
header {
  background-color: rgb(100, 114, 237);
}
header nav {
  width: 100%;
  margin: 0 auto;
}
header nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-left: 0em;
}
@media only screen and (max-width: 576px) {
  header nav ul {
    flex-direction: column;
  }
}
@media only screen and (min-width: 768px) {
  header nav ul {
    flex-direction: column;
  }
}
@media only screen and (min-width: 768px) {
  header nav ul {
    flex-direction: row;
  }
}
@media only screen and (min-width: 992px) {
  header nav ul {
    flex-direction: row;
  }
}
@media only screen and (min-width: 1200px) {
  header nav ul {
    flex-direction: row;
  }
}
header nav ul li {
  display: inline-block;
}
header nav ul li a {
  text-decoration: none;
  color: black;
  padding: 5px;
}

.logo, .logo--ppal {
  margin-top: 1.5px;
  border: 1.5px;
  border-style: double;
  border-color: black;
}
.logo--ppal {
  border-color: red;
}

a.navPpal {
  color: red;
  background-color: rgb(0, 255, 242);
  font-style: oblique;
  font-weight: bold;
}

/*Declaración de áreas para la grilla de index.html*/
header {
  grid-area: cabecera;
}

h1 {
  grid-area: deseo;
}

.explicacion {
  grid-area: explicacion;
}

footer {
  grid-area: pie;
}

/*Defino la grilla de index.html*/
.grilla {
  display: grid;
}
@media only screen and (max-width: 576px) {
  .grilla {
    grid-template-areas: "cabecera" "deseo" "explicacion" "pie";
  }
}
@media only screen and (min-width: 576px) {
  .grilla {
    grid-template-areas: "cabecera    cabecera" "deseo       deseo" "explicacion explicacion" "pie         pie";
  }
}
@media only screen and (min-width: 768px) {
  .grilla {
    grid-template-areas: "cabecera       cabecera    cabecera" "deseo          deseo       deseo" "explicacion    explicacion explicacion" "pie            pie         pie";
  }
}
@media only screen and (min-width: 992px) {
  .grilla {
    grid-template-areas: "cabecera       cabecera    cabecera" "deseo          deseo       deseo" "explicacion    explicacion explicacion" "pie            pie         pie";
  }
}
@media only screen and (min-width: 1200px) {
  .grilla {
    grid-template-areas: "cabecera       cabecera    cabecera" "deseo          deseo       deseo" "explicacion    explicacion explicacion" "pie            pie         pie";
  }
}

.explicacion {
  display: grid;
  justify-items: center;
  grid-template-rows: 1fr;
  margin-top: 5px;
  margin-bottom: 5px;
}
@media only screen and (max-width: 576px) {
  .explicacion {
    grid-template-columns: 1fr;
  }
}
@media only screen and (min-width: 576px) {
  .explicacion {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (min-width: 768px) {
  .explicacion {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media only screen and (min-width: 992px) {
  .explicacion {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media only screen and (min-width: 1200px) {
  .explicacion {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.explicacion img {
  margin-top: 10px;
}

/*Defino la grilla de tienda.html*/
.explicacionTienda {
  grid-area: explicacionTienda;
}

.grillaTienda {
  display: grid;
  grid-template-rows: 1fr;
}
@media only screen and (max-width: 576px) {
  .grillaTienda {
    grid-template-areas: "cabecera" "deseo" "explicacionTienda" "pie";
  }
}
@media only screen and (min-width: 576px) {
  .grillaTienda {
    grid-template-areas: "cabecera           cabecera" "deseo              deseo" "explicacionTienda  explicacionTienda" "pie                pie";
  }
}
@media only screen and (min-width: 768px) {
  .grillaTienda {
    grid-template-areas: "cabecera           cabecera            cabecera" "deseo              deseo               deseo" "explicacionTienda  explicacionTienda   explicacionTienda" "pie                pie                 pie";
  }
}
@media only screen and (min-width: 992px) {
  .grillaTienda {
    grid-template-areas: "cabecera           cabecera            cabecera" "deseo              deseo               deseo" "explicacionTienda  explicacionTienda   explicacionTienda" "pie                pie                 pie";
  }
}
@media only screen and (min-width: 1200px) {
  .grillaTienda {
    grid-template-areas: "cabecera           cabecera            cabecera" "deseo              deseo               deseo" "explicacionTienda  explicacionTienda   explicacionTienda" "pie                pie                 pie";
  }
}

.explicacionTienda {
  display: grid;
  grid-template-rows: 1fr;
  justify-items: center;
}
@media only screen and (max-width: 576px) {
  .explicacionTienda {
    grid-template-columns: 1fr;
  }
}
@media only screen and (min-width: 576px) {
  .explicacionTienda {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (min-width: 768px) {
  .explicacionTienda {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media only screen and (min-width: 992px) {
  .explicacionTienda {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media only screen and (min-width: 1200px) {
  .explicacionTienda {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.explicacionTienda img.boxt {
  margin-top: 5px;
}

/*Defino la grilla de noticias.html*/
.h1Noticias {
  grid-area: deseo;
}

.explicacionNoticias {
  grid-area: explicacionNoticias;
}

.grillaNoticias {
  display: grid;
}
@media only screen and (max-width: 576px) {
  .grillaNoticias {
    grid-template-areas: "cabecera" "deseo" "explicacionNoticias" "pie";
  }
}
@media only screen and (min-width: 576px) {
  .grillaNoticias {
    grid-template-areas: "cabecera" "deseo" "explicacionNoticias" "pie";
  }
}
@media only screen and (min-width: 768px) {
  .grillaNoticias {
    grid-template-areas: "cabecera               cabecera" "deseo                  deseo" "explicacionNoticias    explicacionNoticias" "pie                    pie";
  }
}
@media only screen and (min-width: 992px) {
  .grillaNoticias {
    grid-template-areas: "cabecera               cabecera" "deseo                  deseo" "explicacionNoticias    explicacionNoticias" "pie                    pie";
  }
}
@media only screen and (min-width: 1200px) {
  .grillaNoticias {
    grid-template-areas: "cabecera               cabecera" "deseo                  deseo" "explicacionNoticias    explicacionNoticias" "pie                    pie";
  }
}

.explicacionNoticias {
  display: grid;
  grid-template-rows: 1fr;
  margin-top: 5px;
  margin-bottom: 5px;
}
@media only screen and (max-width: 576px) {
  .explicacionNoticias {
    grid-template-columns: 1fr;
  }
}
@media only screen and (min-width: 576px) {
  .explicacionNoticias {
    grid-template-columns: 1fr;
  }
}
@media only screen and (min-width: 768px) {
  .explicacionNoticias {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (min-width: 992px) {
  .explicacionNoticias {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (min-width: 1200px) {
  .explicacionNoticias {
    grid-template-columns: 1fr 1fr;
  }
}

/*Defino la grilla de nosotros.html*/
.explicacionNosotros {
  grid-area: explicacionNosotros;
}

.grillaNosotros {
  display: grid;
  grid-template-rows: 1fr;
}
@media only screen and (max-width: 576px) {
  .grillaNosotros {
    grid-template-areas: "cabecera" "deseo" "explicacionNosotros" "pie";
  }
}
@media only screen and (min-width: 576px) {
  .grillaNosotros {
    grid-template-areas: "cabecera               cabecera" "deseo                  deseo" "explicacionNosotros    explicacionNosotros" "pie                    pie";
  }
}
@media only screen and (min-width: 768px) {
  .grillaNosotros {
    grid-template-areas: "cabecera               cabecera            cabecera" "deseo                  deseo               deseo" "explicacionNosotros    explicacionNosotros explicacionNosotros" "pie                    pie                 pie";
  }
}
@media only screen and (min-width: 992px) {
  .grillaNosotros {
    grid-template-areas: "cabecera               cabecera            cabecera" "deseo                  deseo               deseo" "explicacionNosotros    explicacionNosotros explicacionNosotros" "pie                    pie                 pie";
  }
}
@media only screen and (min-width: 1200px) {
  .grillaNosotros {
    grid-template-areas: "cabecera               cabecera            cabecera" "deseo                  deseo               deseo" "explicacionNosotros    explicacionNosotros explicacionNosotros" "pie                    pie                 pie";
  }
}

.explicacionNosotros {
  display: grid;
  grid-template-rows: 1fr;
  justify-items: center;
}
@media only screen and (max-width: 576px) {
  .explicacionNosotros {
    grid-template-columns: 1fr;
  }
}
@media only screen and (min-width: 576px) {
  .explicacionNosotros {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (min-width: 768px) {
  .explicacionNosotros {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media only screen and (min-width: 992px) {
  .explicacionNosotros {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media only screen and (min-width: 1200px) {
  .explicacionNosotros {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/*Defino la grilla de faqs.html*/
.accordion-body {
  font-weight: normal;
  font-size: medium;
}

/*Defino la grilla de contacto.html*/
.explicacionContacto {
  grid-area: explicacionContacto;
}

.grillaContacto {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-areas: "cabecera" "deseo" "explicacionContacto" "pie";
}

.explicacionContacto {
  width: 100%;
  display: grid;
  grid-template-rows: 1fr;
  justify-items: center;
  grid-template-columns: 1fr;
}

/*Formulario de Contacto*/
.iniform {
  margin-top: 25px;
  font-weight: normal;
  font-size: large;
}

.finform {
  margin-bottom: 50px;
}

div.row {
  padding: 5px;
  margin: 5px;
  font-weight: normal;
}

/*Características generales del footer*/
footer {
  margin-top: 10px;
  border: rgb(42, 63, 110);
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: none;
  background: linear-gradient(0deg, rgb(34, 193, 195) 0%, rgb(129, 37, 209) 24%, rgb(60, 225, 168) 51%, rgb(211, 52, 183) 76%, rgb(58, 45, 253) 100%);
  margin-bottom: 0;
}
footer div a img {
  border: 5px solid blue;
  margin-top: 5px;
  border: none;
}
@media only screen and (max-width: 576px) {
  footer div a img {
    width: 30px;
    height: 30px;
  }
}
@media only screen and (min-width: 576px) {
  footer div a img {
    width: 40px;
    height: 40px;
  }
}
@media only screen and (min-width: 768px) {
  footer div a img {
    width: 40px;
    height: 40px;
  }
}
@media only screen and (min-width: 992px) {
  footer div a img {
    width: 40px;
    height: 40px;
  }
}
@media only screen and (min-width: 1200px) {
  footer div a img {
    width: 40px;
    height: 40px;
  }
}

/*Defino las animaciones que uso en los html´s*/
/*para index.html*/
.box:hover {
  transform: scale(1.5);
  transition: all 2s ease;
  transform: scale(-1.5) rotate(180deg);
}

.box1:hover {
  transform: scale(1.5) rotate(360deg);
  transition: all 2s ease;
}

.box1:hover {
  transform: scale(1.5) rotate(-360deg);
  transition: all 2s ease;
}

.box2:hover {
  -webkit-animation: cambio-color 4s;
          animation: cambio-color 4s;
}

@-webkit-keyframes cambio-color {
  25% {
    background: rgb(63, 94, 251);
    background: radial-gradient(circle, rgb(63, 94, 251) 0%, rgb(252, 70, 107) 100%);
  }
  75% {
    background-color: blueviolet;
  }
}

@keyframes cambio-color {
  25% {
    background: rgb(63, 94, 251);
    background: radial-gradient(circle, rgb(63, 94, 251) 0%, rgb(252, 70, 107) 100%);
  }
  75% {
    background-color: blueviolet;
  }
}
.box3:hover {
  transform: scale(1.5) rotate(360deg);
  transition: all 2s ease;
}

.box3:hover {
  transform: scale(1.5) rotate(360deg);
  transition: all 2s ease;
}

.box4:hover {
  -webkit-animation: temblor 0.9s 2;
          animation: temblor 0.9s 2;
}

@-webkit-keyframes temblor {
  0% {
    transform: translate(0px, 0px);
  }
  10% {
    transform: translate(20px, 0px);
  }
  30% {
    transform: translate(0px, 0px);
  }
  40% {
    transform: translate(20px, 0px);
  }
  50% {
    transform: translate(0px, 0px);
  }
  60% {
    transform: translate(20px, 0px);
  }
  70% {
    transform: translate(0px, 0px);
  }
  80% {
    transform: translate(20px, 0px);
  }
  90% {
    transform: translate(0px, 0px);
  }
  100% {
    transform: translate(20px, 0px);
  }
}

@keyframes temblor {
  0% {
    transform: translate(0px, 0px);
  }
  10% {
    transform: translate(20px, 0px);
  }
  30% {
    transform: translate(0px, 0px);
  }
  40% {
    transform: translate(20px, 0px);
  }
  50% {
    transform: translate(0px, 0px);
  }
  60% {
    transform: translate(20px, 0px);
  }
  70% {
    transform: translate(0px, 0px);
  }
  80% {
    transform: translate(20px, 0px);
  }
  90% {
    transform: translate(0px, 0px);
  }
  100% {
    transform: translate(20px, 0px);
  }
}
/*para tienda.html*/
.boxt:hover {
  transform: scale(1.1);
  transition: all 2s ease;
  filter: blur(2px);
}

figure {
  display: inline-block;
  position: relative;
  overflow: hidden;
}

figcaption {
  color: white;
  transition: all 10s ease;
  position: absolute;
  left: 0;
  bottom: -150;
  width: 90%;
  padding: 5%;
  vertical-align: middle;
}

figure:hover figcaption {
  bottom: 0px;
}

/*Fin del SCSS--------------------------------*//*# sourceMappingURL=styles.css.map */