@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@500&family=Poppins:wght@500&family=Roboto:wght@500&display=swap");
html {
  font-size: 90%;
  font-family: "Roboto", sans-serif;
}

body {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
}

header {
  font-size: medium;
  justify-content: center;
}

footer {
  margin-bottom: 0;
}

section p {
  gap: 5px;
  border: 3px solid blue;
  margin-top: 4px;
  margin-right: 4px;
  height: auto;
  font-family: "Poppins", sans-serif;
  justify-content: center;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(212, 90, 206);
}

article h1 {
  border: 3px solid blue;
  background: rgb(86, 236, 234);
  background: linear-gradient(90deg, rgba(86, 236, 234, 0.9836309524) 1%, rgb(202, 230, 227) 14%, rgb(235, 246, 55) 25%, rgb(66, 172, 167) 40%, rgb(1, 236, 229) 57%, rgb(0, 42, 246) 75%, rgb(33, 148, 143) 86%, rgb(82, 255, 0) 100%);
}

.h1noticias h1 {
  font-size: 1.5em;
  -webkit-margin-before: 0.83em;
          margin-block-start: 0.83em;
  -webkit-margin-after: 0.83em;
          margin-block-end: 0.83em;
  display: block;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  margin-top: 0px;
}

body {
  flex-direction: column;
  display: flex;
  min-height: 100vh;
}

.videito {
  display: block;
  width: 50%;
  margin-left: 25%;
  margin-right: 30%;
}

header {
  background-color: rgb(100, 114, 237);
  /*padding: 3rem 0;*/
}
header nav {
  width: 100%;
  margin: 0 auto;
}
header nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 500px) {
  header nav ul {
    flex-direction: column;
  }
}
@media only screen and (min-width: 500px) {
  header nav ul {
    flex-direction: column;
  }
}
@media only screen and (min-width: 768px) {
  header nav ul {
    flex-direction: row;
  }
}
@media only screen and (max-width: 850px) {
  header nav ul {
    flex-direction: column;
  }
}
header nav ul li {
  display: inline-block;
}
header nav ul li a {
  text-decoration: none;
  color: black;
  padding: 5px;
}

.logoppal {
  margin-top: 1.5px;
  border: 1.5px;
  border-style: double;
  border-color: red;
}

.logo {
  margin-top: 1.5px;
  border: 1.5px;
  border-style: double;
  border-color: black;
}

a.navPpal {
  color: red;
  background-color: rgb(0, 255, 242);
  font-style: oblique;
  font-weight: bold;
}

/*--------------------------------------*/
/*Declaración de áreas para la grilla de index.html*/
header {
  grid-area: cabecera;
}

h1 {
  grid-area: deseo;
}

.explicacion {
  grid-area: explicacion;
}

footer {
  grid-area: pie;
}

/*Defino la grilla de index.html*/
.grilla {
  display: grid;
}
@media only screen and (max-width: 500px) {
  .grilla {
    grid-template-areas: "cabecera" "deseo" "explicacion" "pie";
  }
}
@media only screen and (min-width: 500px) {
  .grilla {
    grid-template-areas: "cabecera    cabecera" "deseo       deseo" "explicacion explicacion" "pie         pie";
  }
}
@media only screen and (min-width: 768px) {
  .grilla {
    grid-template-areas: "cabecera       cabecera    cabecera" "deseo          deseo       deseo" "explicacion    explicacion explicacion" "pie            pie         pie";
  }
}

.explicacion {
  display: grid;
  justify-items: center;
  grid-template-rows: 1fr;
}
@media only screen and (max-width: 500px) {
  .explicacion {
    grid-template-columns: 1fr;
  }
}
@media only screen and (min-width: 500px) {
  .explicacion {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (min-width: 768px) {
  .explicacion {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/*--------------------------------------*/
/*Declaración de áreas para la grilla de tienda.html*/
/*Sólo los especiales para tienda.html*/
.explicaciontienda {
  grid-area: explicaciontienda;
}

/*Defino la grilla de tienda.html*/
.grillatienda {
  display: grid;
  grid-template-rows: 1fr;
}
@media only screen and (max-width: 500px) {
  .grillatienda {
    grid-template-areas: "cabecera" "deseo" "explicaciontienda" "pie";
  }
}
@media only screen and (min-width: 500px) {
  .grillatienda {
    grid-template-areas: "cabecera           cabecera" "deseo              deseo" "explicaciontienda  explicaciontienda" "pie                pie";
  }
}
@media only screen and (min-width: 768px) {
  .grillatienda {
    grid-template-areas: "cabecera           cabecera            cabecera" "deseo              deseo               deseo" "explicaciontienda  explicaciontienda   explicaciontienda" "pie                pie                 pie";
  }
}

.explicaciontienda {
  display: grid;
  grid-template-rows: 1fr;
  justify-items: center;
}
@media only screen and (max-width: 500px) {
  .explicaciontienda {
    grid-template-columns: 1fr;
  }
}
@media only screen and (min-width: 500px) {
  .explicaciontienda {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (min-width: 768px) {
  .explicaciontienda {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.explicacionnosotros {
  grid-area: explicacionnosotros;
}

/*Defino la grilla de nosotros.html*/
.grillanosotros {
  display: grid;
  grid-template-rows: 1fr;
}
@media only screen and (max-width: 500px) {
  .grillanosotros {
    grid-template-areas: "cabecera" "deseo" "explicacionnosotros" "pie";
  }
}
@media only screen and (min-width: 500px) {
  .grillanosotros {
    grid-template-areas: "cabecera               cabecera" "deseo                  deseo" "explicacionnosotros    explicacionnosotros" "pie                    pie";
  }
}
@media only screen and (min-width: 768px) {
  .grillanosotros {
    grid-template-areas: "cabecera               cabecera            cabecera" "deseo                  deseo               deseo" "explicacionnosotros    explicacionnosotros explicacionnosotros" "pie                    pie                 pie";
  }
}

.explicacionnosotros {
  display: grid;
  grid-template-rows: 1fr;
  justify-items: center;
}
@media only screen and (max-width: 500px) {
  .explicacionnosotros {
    grid-template-columns: 1fr;
  }
}
@media only screen and (min-width: 500px) {
  .explicacionnosotros {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (min-width: 768px) {
  .explicacionnosotros {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.explicacionfaqs {
  grid-area: explicacionnosotros;
}

/*Defino la grilla de faqs.html*/
.grillafaqs {
  display: grid;
  grid-template-rows: 1fr;
}
@media only screen and (max-width: 500px) {
  .grillafaqs {
    grid-template-areas: "cabecera" "deseo" "explicacionfaqs" "pie";
  }
}
@media only screen and (min-width: 500px) {
  .grillafaqs {
    grid-template-areas: "cabecera               cabecera" "deseo                  deseo" "explicacionfaqs        explicacionfaqs" "pie                    pie";
  }
}
@media only screen and (min-width: 768px) {
  .grillafaqs {
    grid-template-areas: "cabecera               cabecera" "deseo                  deseo" "explicacionfaqs        explicacionfaqs" "pie                    pie";
  }
}
@media only screen and (max-width: 850px) {
  .grillafaqs {
    grid-template-areas: "cabecera" "deseo" "explicacionfaqs" "pie";
  }
}

.explicacionfaqs {
  display: grid;
  grid-template-rows: 1fr;
  justify-items: center;
}
@media only screen and (max-width: 500px) {
  .explicacionfaqs {
    grid-template-columns: 1fr;
  }
}
@media only screen and (min-width: 500px) {
  .explicacionfaqs {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (min-width: 768px) {
  .explicacionfaqs {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (max-width: 850px) {
  .explicacionfaqs {
    grid-template-columns: 1fr;
  }
}

.paquito {
  width: auto;
  height: auto;
}

.explicacioncontacto {
  grid-area: explicacioncontacto;
}

/*Defino la grilla de contacto.html*/
.grillacontacto {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-areas: "cabecera" "deseo" "explicacioncontacto" "pie";
}

.explicacionnoticias {
  width: 100%;
  display: grid;
  grid-template-rows: 1fr;
  justify-items: center;
  grid-template-columns: 1fr;
}

/*Formulario de Contacto*/
.iniform {
  margin-top: 50px;
}

.finform {
  margin-bottom: 50px;
}

footer {
  margin-top: 10px;
  border: double rgb(255, 0, 0);
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: none;
  background: linear-gradient(0deg, rgb(34, 193, 195) 0%, rgb(129, 37, 209) 24%, rgb(60, 225, 168) 51%, rgb(211, 52, 183) 76%, rgb(58, 45, 253) 100%);
  margin-bottom: 0;
}
footer div a img {
  border: 5px solid blue;
  margin-top: 5px;
  border: none;
}
@media only screen and (max-width: 500px) {
  footer div a img {
    width: 30px;
    height: 30px;
  }
}
@media only screen and (min-width: 500px) {
  footer div a img {
    width: 40px;
    height: 40px;
  }
}
@media only screen and (min-width: 768px) {
  footer div a img {
    width: 40px;
    height: 40px;
  }
}

.box:hover {
  transform: scale(1.5);
  transition: all 2s ease;
  transform: scale(-1.5) rotate(180deg);
}

.box1:hover {
  transform: scale(1.5) rotate(360deg);
  transition: all 2s ease;
}

.box2:hover {
  -webkit-animation: cambio-color 4s;
          animation: cambio-color 4s;
}

@-webkit-keyframes cambio-color {
  25% {
    background: rgb(63, 94, 251);
    background: radial-gradient(circle, rgb(63, 94, 251) 0%, rgb(252, 70, 107) 100%);
  }
  75% {
    background-color: blueviolet;
  }
}

@keyframes cambio-color {
  25% {
    background: rgb(63, 94, 251);
    background: radial-gradient(circle, rgb(63, 94, 251) 0%, rgb(252, 70, 107) 100%);
  }
  75% {
    background-color: blueviolet;
  }
}
.box3:hover {
  transform: scale(1.5) rotate(360deg);
  transition: all 2s ease;
}

.box:hover {
  transform: scale(1.5);
  transition: all 2s ease;
  transform: scale(-1.5) rotate(180deg);
}

.box1:hover {
  transform: scale(1.5) rotate(-360deg);
  transition: all 2s ease;
}

.box2:hover {
  -webkit-animation: cambio-color 4s;
          animation: cambio-color 4s;
}

@keyframes cambio-color {
  25% {
    background: rgb(63, 94, 251);
    background: radial-gradient(circle, rgb(63, 94, 251) 0%, rgb(252, 70, 107) 100%);
  }
  75% {
    background-color: blueviolet;
  }
}
.box3:hover {
  transform: scale(1.5) rotate(360deg);
  transition: all 2s ease;
}

.box4:hover {
  -webkit-animation: temblor 0.9s 2;
          animation: temblor 0.9s 2;
}

@-webkit-keyframes temblor {
  0% {
    transform: translate(0px, 0px);
  }
  10% {
    transform: translate(20px, 0px);
  }
  30% {
    transform: translate(0px, 0px);
  }
  40% {
    transform: translate(20px, 0px);
  }
  50% {
    transform: translate(0px, 0px);
  }
  60% {
    transform: translate(20px, 0px);
  }
  70% {
    transform: translate(0px, 0px);
  }
  80% {
    transform: translate(20px, 0px);
  }
  90% {
    transform: translate(0px, 0px);
  }
  100% {
    transform: translate(20px, 0px);
  }
}

@keyframes temblor {
  0% {
    transform: translate(0px, 0px);
  }
  10% {
    transform: translate(20px, 0px);
  }
  30% {
    transform: translate(0px, 0px);
  }
  40% {
    transform: translate(20px, 0px);
  }
  50% {
    transform: translate(0px, 0px);
  }
  60% {
    transform: translate(20px, 0px);
  }
  70% {
    transform: translate(0px, 0px);
  }
  80% {
    transform: translate(20px, 0px);
  }
  90% {
    transform: translate(0px, 0px);
  }
  100% {
    transform: translate(20px, 0px);
  }
}
.boxt:hover {
  transform: scale(1.1);
  transition: all 2s ease;
  filter: blur(2px);
}

figure {
  display: inline-block;
  position: relative;
  overflow: hidden;
}

figcaption {
  color: white;
  transition: all 10s ease;
  position: absolute;
  left: 0;
  bottom: -150;
  width: 90%;
  padding: 5%;
  vertical-align: middle;
}

figure:hover figcaption {
  bottom: 0px;
}

/*.icon{
    width:  30px;
    height: 30px;
    border: none;
    margin-top: 5px;
}*/
/*.redes{
    display: flex;
    flex-direction: row;
    justify-content: center;

}*/
/*.fredes {
    margin-top: 10px;
    border: double rgb(255, 0, 0);
}*/
/*.pie {
    background: none;
}*/
/*a.navPpal {
    color:red;
    background-color:rgb(0, 255, 242);
    font-style: oblique;
    font-weight: bold;
}*/
/*img{
    border: 5px solid blue;
    margin-top: 5px;
}*/
/*--------------------------------------------------*/
/*@media (min-width:500px){
    .icon{
        width:  50px;
        height: 50px;
        border: none;
        margin-top: 5px;
    }
}*/
/*--------------------------------------------------*/
/*@media (min-width:768px){
.icon{
        width:  50px;
        height: 50px;
        border: none;
        margin-top: 5px;
    }
}*/
/*--------------------------------------------------*/
/*.logoppal{
    margin-top: 1.5px;
    border: 1.5px;
    border-style: double;
    border-color:red;
}*/
/*.logo{
    margin-top: 1.5px;
    border: 1.5px;
    border-style: double;
    border-color: black;
}*/
/*.box:hover{
    transform: scale(1.5);
    transition: all 2s ease;
    transform: scale(-1.5) rotate(180deg) ;
}

.box1:hover{
    transform: scale(1.5) rotate(360deg) ;
    transition: all 2s ease;
}

.box2:hover{
    animation: cambio-color 4s;
}

@keyframes cambio-color {
    25%{
        background: rgb(63,94,251);
        background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    }
    75%{
        background-color: blueviolet;
    }
}
.box3:hover{
    transform: scale(1.5) rotate(360deg) ;
    transition: all 2s ease;
}

.box:hover{
    transform: scale(1.5);
    transition: all 2s ease;
    transform: scale(-1.5) rotate(180deg) ;
}

.box1:hover{
    transform: scale(1.5) rotate(-360deg) ;
    transition: all 2s ease;
}

.box2:hover{
    animation: cambio-color 4s;
}

@keyframes cambio-color {
    25%{
        background: rgb(63,94,251);
        background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    }
    75%{
        background-color: blueviolet;
    }
}
.box3:hover{
    transform: scale(1.5) rotate(360deg) ;
    transition: all 2s ease;
}
.box4:hover{
    animation: temblor 0.9s 2;
}
@keyframes temblor{
    0%{transform: translate(0px,0px);}
    10%{transform: translate(20px,0px);}
    30%{transform: translate(0px,0px);}
    40%{transform: translate(20px,0px);}
    50%{transform: translate(0px,0px);}
    60%{transform: translate(20px,0px);}
    70%{transform: translate(0px,0px);}
    80%{transform: translate(20px,0px);}
    90%{transform: translate(0px,0px);}
    100%{transform: translate(20px,0px);}
}

.boxt:hover{
    transform: scale(1.1);
    transition: all 2s ease;
    filter: blur(2.0px);
}

figure{
    display: inline-block;
    position: relative;
    overflow: hidden;
}

figcaption{
    color: white;
    transition: all 10s ease;
    position: absolute;
    left: 0;
    bottom: -150;
    width: 90%;
    padding: 5%;
    vertical-align: middle;
}
figure:hover figcaption{
    bottom: 0px;
}*/
/*Fin del CSS--------------------------------*//*# sourceMappingURL=styles.css.map */